<div class="container-fluid">
  <div class="col-md-4">
    <form (ngSubmit)="onSubmit()" #mediaForm="ngForm" novalidate>
      <div class="form-group">
        <label for="name">Media Name</label>
        <input type="text" class="form-control" ngModel name="name" required #name="ngModel">
      </div>
      <div *ngIf="!name.valid && name.touched" class="alert alert-danger">
        Name is required
      </div>

      <div class="form-group">
        <label for="date">Media Watched on</label>
        <input type="date" class="form-control" ngModel name="date" required #date="ngModel">
      </div>
      <div *ngIf="!date.valid && date.touched" class="alert alert-danger">
        date is required
      </div>


      <div class="form-group">
        <label for="medium">Media Medium</label>
        <select class="form-control" id="medium" required ngModel name="medium" #mediumItem="ngModel">
          <option *ngFor="let med of medium" [value]="med">{{med}}</option>
        </select>
      </div>
      <div *ngIf="!mediumItem.valid && mediumItem.touched" class="alert alert-danger">
        medium is required
      </div>

      <div class="form-group">
        <label for="category">Media category</label>
        <select class="form-control" id="category" required ngModel name="category" #categoryItem="ngModel">
          <option *ngFor="let cat of category" [value]="cat">{{cat}}</option>
        </select>
      </div>
      <div *ngIf="!categoryItem.valid && categoryItem.touched" class="alert alert-danger">
        category is required
      </div>


      <div class="form-group">
        <label for="isFavorite">Media isFavorite</label>
        <!-- <select class="form-control"  id="isFavorite"
              required
              [ngModel]="'true'" name="isFavorite"   #isFavorite="ngModel">
        <option *ngFor="let fav of [true, false]" [value]="cat">{{fav}}</option>
      </select> -->

        <div class="radio" *ngFor="let fav of ['true', 'false']">
          <label>
            <input type="radio" name="isFavorite" [ngModel]="'true'" #isFavorite="ngModel" [value]="fav">{{fav}}
          </label>
        </div>

      </div>
      <!-- <div *ngIf="!isFavorite.valid && isFavorite.touched" class="alert alert-danger">
      isFavorite is required
    </div> -->

      <div class="form-group">
        <label for="year">Media Year</label>
        <input type="text" class="form-control" ngModel name="year" #year="ngModel" required>
      </div>
      <div *ngIf="!year.valid && year.touched" class="alert alert-danger">
        year is required
      </div>

      <button type="button" class="btn btn-danger" (click)="mediaForm.reset()"> Reset</button>
      <button type="submit" class="btn btn-success" [disabled]="!mediaForm.valid">Submit</button>


    </form>
  </div>

  <div class="col-md-4">
    <h3>Reactive Form</h3>
    <form [formGroup]="signupForm" (ngSubmit)="onReactiveFormSubmit()">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" formControlName="username" class="form-control">
      </div>
      <div *ngIf="!signupForm.get('username').valid && signupForm.get('username').touched" class="alert alert-danger">
        UserName is required
      </div>
      <div class="form-group">
        <label for="email">email</label>
        <input type="text" id="email" formControlName="email" class="form-control">
      </div>
      <div *ngIf="!signupForm.get('email').valid && signupForm.get('email').touched" class="alert alert-danger">
        Email is required
      </div>
      <button class="btn btn-primary" type="submit">Submit</button>
    </form>
  </div>

</div>