:host {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
}
section {
  width: 100%;
  background-color: #32435b;
}
section > header {
  color: #ffffff;
  padding: 10px;
}
section > header > h1 {
  font-size: 2em;
}
section > header .description {
  font-style: italic;
}

.nav-item{
  display: inline-block;
  padding: 10px;
  background: #ffffff;
}
.nav-item.active{
  background: #32435b;
  border: 1px solid #ffffff;
}

.nav-item>a{
  display: block;
  text-decoration: none;
}

.nav-item.active>a{
  color: #ffffff;
}